body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.settingHours {

    display: flex;
    /* width: 70%; */
    height: 300px;
}
.confirmHours {
    margin-top: 20px;
    width: 400px;
    height: 60px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    align-self: center;
    display: block;
    background-color: rgb(108, 77, 77);
}
.padding-top {
    margin-top: 10px;
}

.adminDay {
    text-align: center;
    display: inline-block;
    padding: 0 15px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

.alignCenter {
    text-align: center;
}
.dayHolder {
    display: block;
    text-align: center;
    padding-top: 7px;
}

.isOpen {
    text-align: left;
    padding-right: 5px;
}

.checkbox {
    padding-left: 5px;
}

.timeForm {
    text-align: left;
    font-size: 15px;
    display: block;
    border: none;
    margin-top: 12px;
    border-bottom: solid 2px rgb(33, 33, 33);
    width: 130px;
    /* border-bottom: solid black 2px; */
}

.aboutRestaurant {
    background-color: cornflowerblue;
}

.ph-restaurant {
    font-size: 25px;
}
#description {
    display: block;
}
.adrs {
    display: block;
}
.tableFormList {
    background-color: darkgreen;
}
.tableElem {
    display: inline-block;
}
#tableNumber {
    width: 40px;
}
#size {
    width: 40px;
}
.tableSubmit {
    display: inline;
}